.txtover {
    position: relative;
    margin: 0;
    padding: 0;
    background-image: url(img/pexels-engin-akyurt-5220578.jpg);
    height: 65vh;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .txtover figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .literature-header h1 {
    color: black;
    font-family: 'Playfair Display';
    font-size: 100px !important;
    font-weight: 700 !important;
    letter-spacing: 7px;
  }

  @media (max-width: 768px) {
    .literature-header h1 { 
          font-size: 50px !important; 
      }
  }


  /* 
Scroll Down Arrow 
Start
From Codepen: https://codepen.io/josedavidfumo/details/KVGejW
*/
.literature-intro-scroll-down {
    font-family: 'Deckard Medium Evan';
    font-size: 16px !important;
    font-weight: 500 !important;
    display: flex;
    justify-content: center;
}

#mouse-scroll {
    display: block;
  }
  #mouse-scroll {
    margin: auto;
    left: 50%;
    top: 70px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 9999;
  }
  #mouse-scroll span{
    display: block;
    width: 5px; 
    height: 5px;
    -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
         transform: rotate(45deg);
         transform: rotate(45deg);
    border-right: 2px solid black; 
    border-bottom: 2px solid black;
    margin: 0 0 3px 5px;
  }
  #mouse-scroll .mouse {
    height: 21px;
    width: 14px;
    border-radius: 10px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    border: 2px solid black;
    top: 170px;
  }
  #mouse-scroll .down-arrow-1 {
    margin-top: 6px;
  }
  #mouse-scroll .down-arrow-1, #mouse-scroll .down-arrow-2, #mouse-scroll .down-arrow-3 {
    -webkit-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
      -moz-animation: mouse-scroll 1s infinite;
  }
  #mouse-croll .down-arrow-1 {
     -webkit-animation-delay: .1s;
     animation-delay: .1s;
     -moz-animation-delay: .1s;
     -webkit-animation-direction: alternate;
     animation-direction: alternate;
  }
  #mouse-scroll .down-arrow-2 {
    -webkit-animation-delay: .2s;
    animation-delay: .2s; 
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
  }
  #mouse-scroll .down-arrow-3 {
     -webkit-animation-delay: .3s;
     animation-delay: .3s; 
     -moz-animation-dekay: .3s;
     -webkit-animation-direction: alternate;
     animation-direction: alternate;
  }
  #mouse-scroll .mouse-in {
    height: 5px;
    width: 2px;
    display: block; 
    margin: 5px auto;
    background: black;
    position: relative;
  }
  #mouse-scroll .mouse-in {
   -webkit-animation: animated-mouse 1.2s ease infinite;
   animation: animated-mouse 1.2s ease infinite;
    -moz-animation: mouse-animated 1.2s ease infinite;
  }
  
  @-webkit-keyframes animated-mouse {
    0% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
    100% {
       opacity: 0;
      -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
      transform: translateY(6px);
    }
  }
  @keyframes animated-mouse {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
      }
      100% {
        opacity: 0;
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
      }
  }
  @-webkit-keyframes mouse-scroll {
    0% {
      opacity: 1;
    }
    50% {
      opacity: .5;
    }
    100% {
      opacity: 1;
    } 
  }
  @keyframes mouse-scroll {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
/* 
Scroll Down Arrow 
End
From Codepen: https://codepen.io/josedavidfumo/details/KVGejW
*/

/*
Literature Intro Layout
Start
*/
.literature-intro-layout {
    font-family: 'Deckard Medium Evan';
    font-size: 16px !important;
    font-weight: 500 !important;
    display: flex;
    justify-content: right;
}

/* 
Layout Items 
Start 
*/
.layout-item {
    padding-left: 32px;
}

.layout-link {
    text-decoration: none;
    color: black;
}
.layout-link.active {
    border-bottom: 1px solid;
}
/* 
Layout Items 
End 
*/







.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.gallery img {
    width: 200px;
    height: 150px;
    margin: 10px;
    cursor: pointer;
}
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
.modal img {
    width: 100%;
    height: auto;
}
.modal-close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}







.arrow {
    --active: #fff;
    --border: rgba(255, 255, 255, .12);
    display: block;
    position: relative;
    width: 44px;
    height: 44px;
    &.left {
        transform: scaleX(-1);
    }
    i {
        display: block;
        position: absolute;
        margin: -10px 0 0 -10px;
        width: 20px;
        height: 20px;
        left: 50%;
        top: 50%;
        &:before,
        &:after {
            content: '';
            width: 10px;
            height: 2px;
            border-radius: 1px;
            position: absolute;
            left: 50%;
            top: 50%;
            background: var(--active);
            margin: -1px 0 0 -5px;
            display: block;
            transform-origin: 9px 50%;
        }
        &:before {
            transform: rotate(-40deg);
        }
        &:after {
            transform: rotate(40deg);
        }
    }
    &:before,
    &:after {
        content: '';
        display: block;
        position: absolute;
        left: 1px;
        right: 1px;
        top: 1px;
        bottom: 1px;
        border-radius: 50%;
        border: 2px solid var(--border);
    }
    svg {
        width: 44px;
        height: 44px;
        display: block;
        position: relative;
        z-index: 1;
        color: var(--active);
        stroke-width: 2px;
        stroke-dashoffset: 126;
        stroke-dasharray: 126 126 0;
        transform: rotate(0deg);
    }
    &.animate {
        svg {
            animation: stroke 1s ease forwards .3s;
        }
        i {
            animation: arrow 1.6s ease forwards;
            &:before {
                animation: arrowUp 1.6s ease forwards;
            }
            &:after {
                animation: arrowDown 1.6s ease forwards;
            }
        }
    }
}

@keyframes stroke {
    52% {
        transform: rotate(-180deg);
        stroke-dashoffset: 0;
    }
    52.1% {
        transform: rotate(-360deg);
        stroke-dashoffset: 0;
    }
    100% {
        transform: rotate(-180deg);
        stroke-dashoffset: 126;
    }
}

@keyframes arrow {
    0%,
    100% {
        transform: translateX(0);
        opacity: 1;
    }
    23% {
        transform: translateX(17px);
        opacity: 1;
    }
    24%,
    80% {
        transform: translateX(-22px);
        opacity: 0;
    }
    81% {
        opacity: 1;
        transform: translateX(-22px);
    }
}

@keyframes arrowUp {
    0%,
    100% {
        transform: rotate(-40deg) scaleX(1);
    }
    20%,
    80% {
        transform: rotate(0deg) scaleX(.1);
    }
}

@keyframes arrowDown {
    0%,
    100% {
        transform: rotate(40deg) scaleX(1);
    }
    20%,
    80% {
        transform: rotate(0deg) scaleX(.1);
    }
}

.demo {
    display: grid;
    grid-template-columns: repeat(2, 44px);
    grid-gap: 32px;
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: inherit;
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

// Center & dribbble
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #275EFE;
    .dribbble {
        position: fixed;
        display: block;
        right: 24px;
        bottom: 24px;
        img {
            display: block;
            width: 76px;
        }
    }
}