/* Index Body Content 
Start */

/* Home Page Figure and Figcaption */

.txtover {
    position: relative;
    margin: 0;
    padding: 0;
    background-image: url(img/second-body-content-index-placeholder-jackie-dilorenzo-RyLsRzy9jIA-unsplash.jpg);
    height: 50vh;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .txtover figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .index-header h1 {
    color: #e7e3e0;
    font-family: 'Playfair Display';
    font-size: 100px !important;
    font-weight: 700 !important;
  }

    /* For Cursor Border typing animation 
    Start */
  .type_writer-effect {
    animation: blink .5s step-end infinite alternate;
    white-space: nonwrap;
    overflow: hidden;
    border-right: 3px solid;
    padding-right: 4px;

    /* For Cursor Border typing animation 
    End */

  }

/* Also For Cursor Border typing animation 
Start*/
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

  @media (max-width: 768px) {
	.index-header h1 { 
        font-size: 50px !important; 
    }
}
/* Also For Cursor Border typing animation 
End*/


/* Home Page Figure and Figcaption */

/* Index Intro 
Start */

.index-intro {
    margin-top: 70px;
    margin-bottom: 140px;
}

.index-intro-header {
    font-family: 'Playfair Display';
    font-size: 50px !important;
    font-weight: 700 !important;
    text-align: left;
}
.index-intro-subheader {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px !important;
    color: #6EA587;
}

.index-intro-quote {
    text-align: right;
}
.index-intro-quote-title {
    font-family: 'Playfair Display';
    font-weight: 700 !important;
}
.index-intro-quote-subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #777c77;
}
.index-intro-quote-text {
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}


@media (max-width: 768px) {

    .index-intro-desc {
        margin-bottom: 40px !important;
    }

    .index-intro-subheader {
        text-align: center;
    }

    .index-intro-quote {
        margin-top: 30px !important;
        text-align: center;
    }


}

/* Index Intro 
End */


/* Sponsors Slider 
Start */


.sponsors-sliders {
  align-items: center;
  background: #f8f9fa;
  display: flex;
  height: 100vh;
  justify-content: center;

  /* added by us 
  Start*/
  margin-top: 70px;
  margin-bottom: 70px;
  /* added by us 
  End */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 10));
  }
}
.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;

}
.slider::before, .slider::after {
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 30s linear infinite;
  display: flex;
  width: calc(250px * 14);

}
.slider .slide {
  height: 100px;
  width: 250px;
}

/* Sponsors Slider 
End */


/* Index Theme
 Start */

.index-theme {
  margin-top: 140px;
  margin-bottom: 70px;
}

.index-theme-title {
  align-content: center;
  align-items: center;
  text-align: center;
}

.index-theme-subheader {
  font-family: 'Montserrat', sans-serif;
  font-size: 21px;
  color: #6EA587;
}

.index-theme-header {
  font-family: 'Playfair Display';
  font-weight: 700 !important;
  font-size: 140px;
}

.index-theme-emphasis {
  color: #6EA587;
  font-family: 'Playfair Display';
  font-weight: bold;
}

/* Making the Growth header responsive for phones 
Start*/

@media (max-width: 768px) {

  .index-theme-subheader {
    font-size: 17px;
  }

	.index-theme-header {
    font-size: 80px;
  }

  .index-theme-desc {
    font-size: 17px;
  }

}

/* Making the Growth header responsive for phones 
End*/

/* Index Theme 
End */

/* Index Theme Testimonials 
Start */

.index-theme-testimonials {
  margin-top: 70px;
  margin-bottom: 70px;
}

.index-theme-testimonials-header {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  padding-bottom: 42px;
}

.index-theme-testimonials-title {
  font-family: 'Playfair Display';
  font-weight: 700 !important;
  font-size: 32px;
}

.index-theme-testimonials-subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #777c77;
}

.index-theme-testimonials-text {
  border-top: 1px dashed #6EA587;
  padding-top: 14px;
  font-style: italic;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}


/* Index Theme Testimonials 
End */


/* Index Previous Issue 
Start*/

.index-previous-issue {
  padding-top: 5vh;
  padding-bottom: 5vh;
  background-color: #dad3d0;
}

.index-previous-issue-title-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}

.index-previous-issue-header {
  font-family: 'Playfair Display';
  font-weight: 700 !important;
  font-size: 80px;
}

.index-previous-issue-desc-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: c;
}

.index-previous-issue-subheader {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.index-previous-issue-link {
  font-family: 'Montserrat', sans-serif;
  padding-top: 21px;
  font-size: 16px;
}

.index-previous-issue-link a{
  text-decoration: underline wavy #6EA587 2px !important;
  text-underline-offset: 7px;
  color: inherit;
}

/* Makes the underline color change on hover
Start */
.index-previous-issue-link a:hover {
  text-decoration: underline wavy black 2px !important;
  
}

/* Makes the underline color change on hover
End */

.index-snippets-text {
  border-top: 1px dashed #6EA587;
  padding-top: 14px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}


/* Index Previous Issue
End*/

/* Index Snippets 
Start*/

.index-snippets {
  margin-top: 70px !important;
  margin-bottom: 70px !important;
}


.index-snippets-overall-heading {
  display: flex;
  flex-flow: column wrap;
  place-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
}

.index-snippets-header {
  font-style: italic;
  font-family: 'Playfair Display';
  font-weight: 800 !important;
  font-size: 140px;
  padding-bottom: 21px;

}

.index-snippets-overall-piece {
  display: flex;
  flex-flow: column wrap;
  place-content: center;
  align-items: flex-end;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-end;
}
.index-snippets-single-piece {
  margin-bottom: 32px;
  padding-top: 14px;
  padding-bottom: 14px;

}

.index-snippets-title {
  font-family: 'Playfair Display';
  font-weight: 700 !important;
  font-size: 32px;
}

.index-snippets-subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #777c77;
}

.index-snippets-read-more {
  font-family: 'Montserrat', sans-serif;
  padding-top: 21px;
  font-size: 16px;
}

.index-snippets-read-more a{
  text-decoration: underline wavy #6EA587 2px !important;
  text-underline-offset: 7px;
  color: inherit;
}

/* Makes the underline color change on hover
Start */
.index-snippets-read-more a:hover {
  text-decoration: underline wavy black 2px !important;
  
}

/* Makes the underline color change on hover
End */

.index-snippets-text-section {
  padding-top: 21px;
}

.index-snippets-text {
  border-top: 1px dashed #6EA587;
  padding-top: 14px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}


/* Index Snippets 
End*/




/* Index Body Content 
End */