/* Custom Variables
Start*/
:root {
    --main-background-color: #FFFDF7;
    --test-background-color-previous-issue: #dad3d0;
    --old-background-color: #e7e3e0;
    --alternate-background-color: #e7e3e0;
    --font-color: #1D1B1A;
    --dark-green-accent: #417058;
    --light-green-accent: #87CDA1;
    --yellow-accent: #FDD57E;
    --pink-accent: #FFBCDF;
  
  }
  /* Custom Variables
  End*/

/* Fonts Start */
@font-face {
    font-family: 'Deckard-Regular Regular';
    font-style: normal;
    font-weight: normal;
    src: url('DeckardRegular_1_.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Deckard Medium Evan';
    font-style: normal;
    font-weight: normal;
    src: url('DeckardMedium.woff') format('woff');
    }
/* Fonts End*/
/* Home Page Figure and Figcaption */

.txtover {
    position: relative;
    margin: 0;
    padding: 0;
    background-image: url(img/photo-1483354483454-4cd359948304.avif);
    height: 65vh;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .txtover figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .literature-header h1 {
    color: var(--main-background-color);
    font-family: 'Playfair Display';
    font-size: 100px !important;
    font-weight: 700 !important;
    letter-spacing: 7px;
  }

  @media (max-width: 768px) {
    .literature-header h1 { 
          font-size: 50px !important; 
      }
  }
/* Home Page Figure and Figcaption */

/* Literature 
Intro 
Start 
*/

.literature-intro {
    margin-top: 70px;
    margin-bottom: 70px;
    padding-top: 28px;
}

.literature-intro-showing {
    font-family: 'Deckard Medium Evan';
    font-size: 16px !important;
    font-weight: 500 !important;
    text-align: left;
    display: flex;
    justify-content: left;
}

/* 
Scroll Down Arrow 
Start
From Codepen: https://codepen.io/josedavidfumo/details/KVGejW
*/
.literature-intro-scroll-down {
    font-family: 'Deckard Medium Evan';
    font-size: 16px !important;
    font-weight: 500 !important;
    display: flex;
    justify-content: center;
}

#mouse-scroll {
    display: block;
  }
  #mouse-scroll {
    margin: auto;
    left: 50%;
    top: 70px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 9999;
  }
  #mouse-scroll span{
    display: block;
    width: 5px; 
    height: 5px;
    -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
         transform: rotate(45deg);
         transform: rotate(45deg);
    border-right: 2px solid black; 
    border-bottom: 2px solid black;
    margin: 0 0 3px 5px;
  }
  #mouse-scroll .mouse {
    height: 21px;
    width: 14px;
    border-radius: 10px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    border: 2px solid black;
    top: 170px;
  }
  #mouse-scroll .down-arrow-1 {
    margin-top: 6px;
  }
  #mouse-scroll .down-arrow-1, #mouse-scroll .down-arrow-2, #mouse-scroll .down-arrow-3 {
    -webkit-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
      -moz-animation: mouse-scroll 1s infinite;
  }
  #mouse-croll .down-arrow-1 {
     -webkit-animation-delay: .1s;
     animation-delay: .1s;
     -moz-animation-delay: .1s;
     -webkit-animation-direction: alternate;
     animation-direction: alternate;
  }
  #mouse-scroll .down-arrow-2 {
    -webkit-animation-delay: .2s;
    animation-delay: .2s; 
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
  }
  #mouse-scroll .down-arrow-3 {
     -webkit-animation-delay: .3s;
     animation-delay: .3s; 
     -moz-animation-dekay: .3s;
     -webkit-animation-direction: alternate;
     animation-direction: alternate;
  }
  #mouse-scroll .mouse-in {
    height: 5px;
    width: 2px;
    display: block; 
    margin: 5px auto;
    background: black;
    position: relative;
  }
  #mouse-scroll .mouse-in {
   -webkit-animation: animated-mouse 1.2s ease infinite;
   animation: animated-mouse 1.2s ease infinite;
    -moz-animation: mouse-animated 1.2s ease infinite;
  }
  
  @-webkit-keyframes animated-mouse {
    0% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
    100% {
       opacity: 0;
      -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
      transform: translateY(6px);
    }
  }
  @keyframes animated-mouse {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
      }
      100% {
        opacity: 0;
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
      }
  }
  @-webkit-keyframes mouse-scroll {
    0% {
      opacity: 1;
    }
    50% {
      opacity: .5;
    }
    100% {
      opacity: 1;
    } 
  }
  @keyframes mouse-scroll {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
/* 
Scroll Down Arrow 
End
From Codepen: https://codepen.io/josedavidfumo/details/KVGejW
*/

/*
Literature Intro Layout
Start
*/
.literature-intro-layout {
    font-family: 'Deckard Medium Evan';
    font-size: 16px !important;
    font-weight: 500 !important;
    display: flex;
    justify-content: right;
}

/* 
Layout Items 
Start 
*/
.layout-item {
    padding-left: 32px;
}

.layout-link {
    text-decoration: none;
    color: black;
}
.layout-link.active {
    border-bottom: 1px solid;
}
/* 
Layout Items 
End 
*/

/* 
Literature Intro Layout 
End
*/


@media (max-width: 768px) {

    .literature-intro-showing {
        margin-bottom: 40px !important;
    }

    .literature-intro-scroll-down {
        text-align: center;
    }

    .literature-intro-layout {
        margin-top: 30px !important;
        text-align: center;
    }


}

/* 
Literature Intro 
End 
*/

/*
Literature Works
Start
Inspired by https://www.brinkerhoffpoetry.org/poems
*/

.literature-works .row {
  padding-top: 70px;
}

.literature-pieces {
    padding-left: 35px;
    padding-right: 35px;

}

.literature-pieces-card {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;

    background: #e6e0dc;

    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: flex-end;

}


.literature-pieces-card h3{
    font-family: 'Playfair Display';
    font-size: 24px !important;
    font-weight: 500 !important;
    margin-top: 5%;

}

.literature-pieces-image {
    width: 58%;
    margin: 30px auto;
}

.position {
    padding-bottom: 140%;
    position: relative;
    height: 0;
}
.position img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.literature-pieces-author{
    font-family: 'Playfair Display';
    font-size: 14px;
    font-weight: 500 !important;

    background: #e1cac2;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;

} 

.literature-pieces-link {
  padding-top: 20px;
  font-size: 14px;
  font-weight: 500 !important;
}


.ud_book_box {
  position: relative;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  perspective: 1800px;
}

.ud_book {
  transform-style: preserve-3d;
  transform: rotate3d(0, 1, 0, 0);
  transition: all 300ms;
}

.ud_book:hover {
  transform: rotate3d(0, 1, 0, 35deg);
}

.ud_back {
  position: absolute;
  top: 0;
  left: 0;
  background: #dcd6d2;
  height: 100%;
  width: 60px;
  
  transform-style: preserve-3d;
  transform-origin: 0% 50%;
  transform: rotate3d(0, 1, 0, -86deg) translate3d(-100%, 0, 0);
}

.ud_back div{
  position: absolute;
  bottom:0;
  left: 0;
  height: 41px;
  background: #d8c1b7;
  width: 100%;
}


/*
Literature Works
End
Inspired by https://www.brinkerhoffpoetry.org/poems
*/